<h1> Create A New Cupcake </h1>

<h2>  <a href="/cupcakes"> Go back to Cupcakes </a> </h2>

<form action="/cupcakes" method="post"  >
    <p> Name: <input type="text" name="cupcake[name]"> </p>
    <p> Price: <input type="text" name="cupcake[price]"> </p>
    <input type="submit" value="Create New Cupcake" />
</form>
